* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
  }

  button{
    cursor: pointer;
  }
  
  :root{
      --color-brand-1: #9747ff;
      --color-grey-0: #15171a;
      --color-grey-1: #212529;
      --color-grey-2: #2b2f33;
      --color-grey-3: #adb5bd;
      --color-grey-4: #ced4da;
      --color-grey-5: #dee2e6;
      --color-grey-6: #f1f3f5;
     
    

      --color-white-fixed: #ffffff;
    
      --font-1: 1.75rem;
      --font-2: 1rem;
      --font-3: 0.8rem;
      --radius-1: 0.25rem;
      
    }
    
    .dark__mode:root {

   
      --color-grey-1: #F1F3F5;
      --color-grey-2: #DEE2E6;
      --color-grey-3: #CED4DA;
      --color-grey-4: #ADB5BD;
      --color-grey-5: #2B2F33;
      --color-grey-6: #212529;
      --color-brand-1: #300764;
    }
    